<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <% for(post of posts){ %>
        <div class="post">
            <h2 class="user">Username : @<%= post.user%></h2>
            
            <p>About : <%=post.content%></p>
            <hr>
            <a href="https://post-api-production-7e35.up.railway.app//posts/<%=post.id%>"><button>View Details</button></a>  
            <a href="https://post-api-production-7e35.up.railway.app//posts/<%=post.id%>/edit"><button>Edit</button></a>
            
            
            <form method="post" action="/posts/<%=post.id%>?_method=delete">
                <button>Delete</button>
            </form> 
            
        </div>
    <%}%>
    <a href="https://post-api-production-7e35.up.railway.app/posts/new"><button>Add a post</button></a>
</body>
</html>